.app-slider{
   &__radio{
      display: none;
   }
   &__sliders {
      display: flex;
      width: 400%;
      &_block{
         background: rgb(58, 197, 31);
         width: 1920px;
         height: 1000px;
         display: flex;
         justify-content: center;
         align-items: center;
         border: solid 2px #fff;
      }
   }
   &__manual{
      position: absolute;
      width: 100vw;
      margin-top: -50px;
      display: flex;
      justify-content: center;
      &_btn{
         margin: 0 5px;
         border: 3px solid #2305e4;
         padding: 5px;
         border-radius: 50%;
         cursor: pointer;
         transform: 1s;
      }
      &_btn:not(:last-child){
         margin-right: 40px;
      }
      &_btn:hover{
         background: #2305e4;
      }
   }
   &__auto{
      position: absolute;
      width: 100vw;
      margin-top: -50px;
      display: flex;
      justify-content: center;
      &_btn{
         margin: 0 5px;
         border: 3px solid #2305e4;
         padding: 5px;
         border-radius: 50%;
         cursor: pointer;
         transform: 1s;
      }
      &_btn:not(:last-child){
         margin-right: 400px;
      }    
   }
}

#radio1:checked ~ .first{
   margin-left: 0;
}
#radio2:checked ~ .first{
   margin-left: -20%;
}
#radio3:checked ~ .first{
   margin-left: -40%;
}
#radio4:checked ~ .first{
   margin-left: -60%;
}